@import url("https://fonts.googleapis.com/css?family=Francois+One|Baloo+Chettan|Pacifico|Acme|Lato");
@keyframes grow {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); } }

@-webkit-keyframes grow {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); } }

@keyframes ball-scale-multiple {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; }
  5% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

@-webkit-keyframes ball-scale-multiple {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; }
  5% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

body, html {
  margin: 0px;
  padding: 0px;
  background-color: #FCFCFC; }

::-webkit-scrollbar {
  display: none; }

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121c37; }
  .loader-container .loader-inner {
    position: relative;
    -webkit-transform: translate(-150px, -150px);
    transform: translate(-150px, -150px); }
    .loader-container .loader-inner > div:nth-child(2) {
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s; }
    .loader-container .loader-inner > div:nth-child(3) {
      -webkit-animation-delay: 0.10s;
      animation-delay: 0.10s; }
    .loader-container .loader-inner > div {
      width: 300px;
      height: 300px;
      border-radius: 100%;
      background-color: white;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      margin: 0;
      -webkit-animation: ball-scale-multiple 2s 0s linear infinite;
      animation: ball-scale-multiple 2s 0s linear infinite; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  color: white; }

.navbar {
  position: relative;
  height: 80px;
  width: 100%;
  transition: 0.5s ease;
  font-family: 'Lato';
  text-shadow: 1px 1px 4px #063966;
  border-radius: 0px; }
  .navbar .nav {
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 5%; }
    .navbar .nav .item {
      list-style: none;
      display: inline-block;
      font-size: 18px;
      padding: 5px;
      font-weight: 400;
      line-height: 80px;
      margin-right: 20px;
      transition: 0.5s ease; }
      .navbar .nav .item:hover {
        font-weight: 700;
        font-size: 20px; }
      .navbar .nav .item a {
        text-decoration: none;
        color: inherit; }
        .navbar .nav .item a:hover {
          background-color: transparent; }

.scrolled {
  transition: 0.5s ease; }

.scrolled.navbar {
  height: 50px;
  background-color: #121c37;
  transition: 0.5s ease;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important; }

.scrolled.navbar .nav .item {
  line-height: 20px;
  transition: 0.5s ease; }

section:not(#home) {
  padding-top: 3em;
  padding-bottom: 3em; }

.background {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: -10px 0 8px -8px black, 10px 0 8px -8px black;
  min-height: 95vh;
  width: 100%;
  background-color: #eee; }

#home {
  color: white;
  text-shadow: 1px 1px 4px #063966;
  text-align: center;
  font-family: 'Lato', sans-serif;
  height: 100vh !important; }
  #home h1 {
    display: inline-block;
    padding-bottom: 15px;
    top: auto;
    bottom: auto;
    font-size: 60px;
    font-weight: 500;
    z-index: 1;
    border-bottom: 1px solid white; }
  #home .background {
    background-image: url(../img/header.jpg);
    animation: grow 30s linear .5s infinite; }

.fog {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #000;
  z-index: 0; }
  .fog .fog-container {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden; }
    .fog .fog-container .fog-img {
      position: absolute;
      height: 100vh;
      width: 300vw; }
      .fog .fog-container .fog-img.fog-img-first {
        background: url("../img/fog-1.png") repeat-x;
        background-size: contain;
        background-position: center;
        animation: marquee 60s linear infinite; }
      .fog .fog-container .fog-img.fog-img-second {
        background: url("../img/fog-2.png") repeat-x;
        background-size: contain;
        background-position: center;
        animation: marquee 40s linear infinite; }

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(-200vw, 0, 0); } }

.underline {
  display: inline-block;
  border-bottom: 2px solid #121c37; }

#about {
  color: white;
  background-color: #121c37;
  font-family: Acme;
  text-align: center;
  min-height: 30vh; }
  #about h1 {
    text-align: center;
    margin-bottom: 1em; }
  #about p {
    font-family: "Roboto", sans-serif;
    font-size: 20px; }
  #about img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 8px 8px #FCFCFC inset; }

#experience {
  color: #121c37;
  background-color: #eee;
  text-align: center;
  font-family: Acme; }
  #experience h3 {
    font-size: 30px;
    font-weight: 700; }
  #experience h4 {
    font-size: 24px;
    font-weight: 700; }
  #experience li {
    font-size: 20px;
    font-weight: 700; }
  #experience .col-md-6 {
    text-align: center; }
  #experience .row {
    padding-bottom: 5%; }
  #experience .divider {
    border-left: 2px solid #121c37; }

#portfolio {
  color: white;
  background-color: #121c37;
  overflow: hidden;
  text-align: center;
  font-family: Acme;
  /* .row {
    margin-bottom: 30px;
  }
  .site-preview {
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    // box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: 5px;
      transition: opacity 0.3s ease-in-out;
    }
    &:hover {
      transform: scale(1.2, 1.2);
    }
    &:hover::after {
      opacity: 1;
    }
  } */ }
  #portfolio .project {
    margin-bottom: 15px; }

#contact {
  min-height: 20vh;
  color: #121c37;
  font-family: Acme;
  text-align: center;
  padding-top: 0px !important;
  padding-bottom: 0px !important; }
  #contact .underline {
    margin-bottom: 50px; }
  #contact h2 {
    text-align: left; }
  #contact p {
    text-align: left;
    font-size: 20px; }
  #contact a {
    text-align: left; }
  #contact i {
    text-align: center;
    width: 75px;
    height: 75px;
    padding: 10px;
    margin: 10px; }
  #contact #social-media a i {
    border-radius: 10px; }
  #contact #social-media #free-code-camp {
    width: 85px;
    height: 75px;
    padding-left: 5px;
    padding-right: 5px;
    color: darkgreen; }
    #contact #social-media #free-code-camp:hover {
      color: white;
      background-color: darkgreen;
      transition-duration: 1s; }
  #contact #social-media #facebook {
    color: #3b5998; }
    #contact #social-media #facebook:hover {
      color: white;
      background-color: #3b5998;
      transition-duration: 1s; }
  #contact #social-media #linkedin {
    color: #0077B5; }
    #contact #social-media #linkedin:hover {
      color: white;
      background-color: #0077B5;
      transition-duration: 1s; }
  #contact #social-media #github {
    color: black; }
    #contact #social-media #github:hover {
      color: white;
      background-color: black;
      transition-duration: 1s; }
